<%= render partial: "shared/nav_login" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="UTF-8" />
  <title>Public Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyTBvNtHHfTn6L4L4awv9Cg6Rdi85Lc3N" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" />

  <!-- Include Bootstrap JS and TomTom Maps SDK -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-Y3UDbPn6TpSREZVeU2XsCMXvHznGfe1eVToKoWd40EvrKtkLoT/JOrme3Q+J5cpX"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyTBvNtHHfTn6L4L4awv9Cg6Rdi85Lc3N"
    crossorigin="anonymous"></script>
  <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
  
  <style>
    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    #map {
      height: 80vh;
    }

    #markerInfoContainer {
      padding: 15px;
    }

    #submitButtonContainer {
      padding: 15px;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <!-- TomTom Map Container -->
        <div id="map" class="map"></div>
      </div>
      <div class="col-md-4">
        <!-- Marker Information Container -->
        <div id="markerInfoContainer">
          <h4>Marker Information:</h4>
          <p id="latitude">Latitude: </p>
          <p id="longitude">Longitude: </p>
        </div>

        <!-- Bootstrap Button Styling -->
        <div id="submitButtonContainer">
          <%= form_with(url: '/', method: 'post', id: 'locationForm') do |form| %>
            <%= form.hidden_field :latitude, id: 'latitudeField' %>
            <%= form.hidden_field :longitude, id: 'longitudeField' %>
            <%= form.submit 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<script>
  var map = tt.map({
    key: "S2oPYjoq5sNa8lSADIOzsvTlB8E25a4T",
    container: "map"
  });

  // Get the initial center of the map
  var initialCenter = map.getCenter();

  // Create a marker with the initial position
  var marker = new tt.Marker().setLngLat(initialCenter).addTo(map);

  // Update marker position when the map is dragged
  map.on('dragend', function () {
    var newCenter = map.getCenter();
    marker.setLngLat(newCenter);
  });

  map.on('click', function (event) {
    var { lat, lng } = event.lngLat;

    // Update marker position
    marker.setLngLat([lng, lat]);

    // Update latitude and longitude information
    document.getElementById('latitude').innerText = 'Latitude: ' + lat;
    document.getElementById('longitude').innerText = 'Longitude: ' + lng;

    // Update hidden form fields
    document.getElementById('latitudeField').value = lat;
    document.getElementById('longitudeField').value = lng;
  });
</script>

</body>
</html>
