<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'shared/nav' %>

  <script src="https://apis.google.com/js/platform.js?onload=initGoogleSignIn" async defer></script>

  <style>
    body {
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Login</h2>

        <%= form_with url: '/login', local: true, html: { class: 'form' } do |form| %>

          <div class="mb-3">
            <%= form.label :email, class: 'form-label' %>
            <%= form.text_field :email, class: 'form-control', required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :password, class: 'form-label' %>
            <%= form.password_field :password, class: 'form-control', required: true %>
          </div>

          <div class="mb-3 text-center">
            <%= form.submit "Login", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Move the Google buttons below the login form -->
    <div class="mb-3 text-center">
      <div>
        <%= link_to 'Login with Google', '/auth/google_oauth2', class: 'btn btn-primary mt-3 mr-2' %>
      </div>
    </div>
  </div>
</body>
</html>
