<%= render partial: "shared/nav" %>

<!DOCTYPE html>
<html>
<meta name="google-signin-client_id" content="173864330669-0kd95lff9amkp0ku3a0e6tn6dn9klnvh.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<button onclick="createNewGoogleAccount()">Create a new Google account</button>

<%= button_to "Sign Out", "/logout" %>

<%# <button id="signOutBtn" onclick="signOut();" class="g-signout2">Sign out</button> %>

<%= form_with(url: '/login', method: :post, id: 'userForm', style: 'display: none;') do |form| %>
  <%# <%= form.hidden_field :user_name, id: 'userNameInput' %> 
  <%= form.hidden_field :user_email, id: 'emailInput' %>
  <%= button_tag 'Submit', type: 'button', onclick: 'submitForm()', style: 'display: none;' %>
<% end %>

<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    // var imageUrl = profile.getImageUrl();

    // document.getElementById('userNameInput').value = profile.getName();
    document.getElementById('emailInput').value = profile.getEmail();
    submitForm();
  }

  // function signOut() {
  //   var auth2 = gapi.auth2.getAuthInstance();
  //   auth2.signOut().then(function () {
  //     console.log('User signed out.');
  //   });
  // }

  function submitForm() {
    var form = document.getElementById('userForm');
    form.submit();
  }

  function createNewGoogleAccount() {
    window.open('https://accounts.google.com/signup', '_blank', 'width=600,height=600');
  }
</script>
</html>