<%= render partial: "shared/nav" %>

<%= form_with url: '/login', local: true do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email, required: true %><br>
  <%= form.label :password %>
  <%= form.password_field :password, required: true %><br>
  <%= form.submit "Submit" %>
<% end %>

<!DOCTYPE html>
<html>
<meta name="google-signin-client_id" content="173864330669-0kd95lff9amkp0ku3a0e6tn6dn9klnvh.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

</html>