<%= render partial: 'shared/nav' %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Create a New User</h2>

      <%= form_with url: '/register', local: true, html: { class: 'form' } do |form| %>
        <div class="mb-3">
          <%= form.label :username, class: 'form-label' %>
          <%= form.text_field :username, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :email, class: 'form-label' %>
          <%= form.text_field :email, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :password, class: 'form-label' %>
          <%= form.password_field :password, class: 'form-control', required: true %>
        </div>

        <div class="mb-4">
          <%= form.label :password_confirmation, class: 'form-label' %>
          <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
        </div>

        <div class="mb-3 text-center">
          <%= form.submit "Create New User", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
