<div class='nav-container container-fluid'>
  <nav class='navbar navbar-dark'>
    <% if session[:user_id] %>
      <%= link_to '/users/dashboard' do %>
        <%= image_tag 'logo.png', style: 'height: 70px; margin-right: 10px; margin-left: 15px;', class: 'navbar-brand' %>
      <% end %>
    <% else %>
      <%= link_to '/' do %>
        <%= image_tag 'logo.png', style: 'height: 70px; margin-right: 10px; margin-left: 15px;', class: 'navbar-brand' %>
      <% end %>
    <% end %>

    <ul class='navbar-nav ml-lg-auto d-flex flex-row'>
      <% if session[:user_id] %>
        <li class='nav-item px-lg-2'>
          <%= link_to 'Community Round', '/community_round', method: :get, class: 'nav-link' + (current_page?('/community_round') ? ' active' : ''), style: 'margin-right: 1rem;' %>
        </li>
        <li class='nav-item px-lg-2'>
          <%= link_to 'Dashboard', '/users/dashboard', method: :get, class: 'nav-link' + (current_page?('/users/dashboard') ? ' active' : ''), style: 'margin-right: 1rem;' %>
        </li>
        <li class='nav-item px-lg-2'>
          <%= link_to 'Logout', '/sessions', method: :delete, class: 'nav-link', data: {turbo_method: :delete}, style: 'margin-right: 1rem;' %>
        </li>
      <% else %>
        <li class='nav-item px-lg-2'>
          <%= link_to 'New User', '/users/new', method: :get, class: 'nav-link' + (current_page?('/users/new') ? ' active' : ''), style: 'margin-right: 1rem;' %>
        </li>
        <li class='nav-item px-lg-2'>
          <%= link_to 'Login', login_path, method: :get, class: 'nav-link' + (current_page?(login_path) ? ' active' : ''), style: 'margin-right: 1rem;' %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>